.bigBox-container {
    width: 100%;
    padding: 55px 57px;
    border: solid 3px #5E5E5E;
    border-radius: 29px;
    display: flex;
    justify-content: space-between;
    position: relative;
    background: #161813;
}

.bigBox-container-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 17px;
    max-width: 73%;
    z-index: 5;
}

.bigBox-header{
    font-family: Alagard;
    font-size: 48px;
    font-weight: 500;
    line-height: 49.31px;
    text-align: left;
    color: #FFFFFF;
    text-shadow: 4px 4px 7px #000000;
}

.bigBox-content {
    font-family: Alagard;
    font-size: 28px;
    font-weight: 500;
    line-height: 28.77px;
    text-align: left;
    color: #767676;
}

.bigBox-image {
    position: absolute;
    top: -7px;
    right: -7px;
}

@media (max-width: 1210px) {
    .bigBox-image{
        display: flex;
        justify-content: center;
        top: 20%;
        right: -50px;
    }

    .bigBox-container-content {
        max-width: 60%;
    }

    .bigBox-image img{
        width: 80%;
    }
}

@media (max-width: 900px) {
    .bigBox-container-content {
        max-width: 100%;
    }

    .bigBox-image {
        top: -80px;
        left: -50px;
    }

    .bigBox-image img{
        width: 30%;
    }
}