.header-container {
    max-width: 1348px;
    background-color: #5FA35B;
    position: relative;
    border-top-left-radius: 149px;
    width: 100%;
    padding: 0 61px 125px 61px;
}

.navbar-container {
    position: absolute;
    top: -48px;
    left: 0;
    width: 100%;
    z-index: 10;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1348px;
    padding-right: 62px;
}

.logo {
    padding: 29px;
    border: solid 2px #191D16;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #5FA35B;
}

.navbar-main {
    padding: 0 30px;
    display: flex;
    gap: 52px;
}

.navbar-item {
    font-family: "Alagard";
    font-size: 32px;
    font-weight: 500;
    line-height: 32.88px;
    text-align: left;
    text-decoration: none;
}

.active {
    color: #191D16;
}

.noActive {
    color: #51824E;
}

.nav-button {
    display: none;
}

.connect-wallet {
    padding: 16px 29px;
    background: #191D16;
    font-family: "Alagard";
    font-size: 30px;
    font-weight: 500;
    line-height: 30.82px;
    color: #FFFFFF;
    text-align: center;
    border: none;
    cursor: pointer;
}

.header-content {
    margin-top: 202px;
    display: flex;
    flex-direction: column;
}

.header-content-header {
    font-family: "Alagard";
    font-size: 160px;
    font-weight: 500;
    line-height: 164.38px;
    text-align: left;
    color: #191D16;

}

.header-content-subheader {
    margin-top: -3px;
    font-family: "Alagard";
    font-weight: 500;
    text-align: left;
    color: #191D16;
}

.homeHeaderSub {
    font-size: 32px;
    line-height: 34px;
}

.otherHeaderSub {
    font-size: 48px;
    line-height: 79.2px;
}

.header-content-content {
    margin-top: 12px;
    font-family: Alagard;
    font-size: 27px;
    font-weight: 500;
    line-height: 31px;
    text-align: left;
    color: #E8FBFC;
}

.homeHeaderContent {
    max-width: 754px;
}

.otherHeaderContent {
    max-width: 456px;
}

.header-image {
    position: absolute;
    object-fit: contain;
}

.staking-one {
    right: -61px;
    top: -9px;
}

.staking-two {
    right: -22px;
    top: 69px;
}

.staking-three {
    right: -35px;
    top: 61px;
}

.staking-carousel {
    position: relative;
}

.slick-list {
    overflow: visible !important;
    overflow-x: clip !important;
}

.slick-prev {
    left: -30px !important;
    top: 400px !important;
}

.slick-next {
    right: -30px !important;
    top: 400px !important;
}

.slick-dots {
    bottom: -92px !important;
}

.slick-track {
    display: flex !important;
    gap: 20px;
}

.full-width-carousel {
    width: 100%;
    margin: 0 auto;
    display: flex;
}
 
.full-width-slide {
    width: 100vw;
    display: flex !important;
    justify-content: sap;
    align-items: flex-start;
    position: relative;
}
 
 
.slide-image {
    width: 100%;
    height: auto;
}

.modal-navbar {
    display: none;
}

@media (max-width: 1210px) {
    .navbar-nav {
        display: flex;
        align-items: center;
        padding-right: 20px;
        position: relative;
    }
     
    .navbar-buttons {
        display: flex;
        z-index: 10;
    }

    .nav-button {
        margin-left: 20px;
        display: flex;
        align-items: center;
        background-color: #191D16;
        padding: 0 15px;
    }

    .navbar-main {
        display: none;
    }

    .modal-window {
        opacity: 1;
        position: absolute;
        top: 0;
        background: hsla(0, 3%, 8%, .7);
        height: 100vh;
        width: 95vw;
        z-index: 2;
    }

    .modal-navbar {
        z-index: 5;
        position: absolute;
        right: 0;
        top: 0;
        width: 380px;
        background-color: #dee3de;
        display:flex;
        flex-direction: column;
        height: auto;
        padding: 190px 50px;
        gap: 30px;
    }

    .header-image {
        width: 60%;
        top: 35%;
    }
}