.home-two {
    width: 100%;
    height: auto;
    background: #191D16;
    padding-top: 69px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home-two-content {
    width: 100%;
    margin-top: 68px;
    max-width: 1348px;
    padding: 0 42px 108px 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-two-overview {
    max-width: 776px;
    display: flex;
    flex-direction: column;
    gap: 31px;
}

.home-two-overview-header {
    font-family: Alagard;
    font-size: 48px;
    font-weight: 500;
    line-height: 49.31px;
    color: #FFFFFF;
    text-shadow: 4px 4px 7px #000000;
}

.home-two-overview-content {
    font-family: Alagard;
    font-size: 28px;
    font-weight: 500;
    line-height: 28.77px;
    text-align: center;
    color: #767676;
}

.home-two-services {
    margin-top: 91px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 46px;
}

.home-two-services-title {
    text-align: center;
    font-family: Alagard;
    font-size: 48px;
    font-weight: 500;
    line-height: 49.31px;
    color: #FFFFFF;
    text-shadow: 4px 4px 7px #000000;
}

.home-two-services-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 37px;
    row-gap: 30px;
}

.home-two-works {
    margin-top: 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 119px;
}

.home-two-works-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 37px;
    row-gap: 89px;
}

.home-two-business {
    margin-top: 105px;
    display: flex;
    flex-direction: column;
    gap: 117.53px;
}

.home-two-business-content {
    display: flex;
    flex-wrap: wrap;
    gap: 318.36px;
    position: relative;
}

.home-two-business-content-title {
    font-family: Alagard;
    font-size: 54.22px;
    font-weight: 500;
    line-height: 55.7px;
    text-align: left;
    color: #FFFFFF;
}

.home-two-business-content-content {
    font-family: Alagard;
    font-size: 27.11px;
    font-weight: 500;
    line-height: 27.85px;
    text-align: center;
    color: #767676;
    max-width: 350px;
    margin-top: 16.29px;
}

.home-two-business-fees-container {
    display: flex;
    height: 336.5px;
    align-items: flex-start;
}

.home-two-business-fees {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.fees-line-up {
    position: absolute;
}

.fees-line-down {
    position: absolute;
}

.home-two-business-runes-container {
    display: flex;
    height: 336.5px;
    align-items: flex-end;
}

.home-two-business-runes {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.business-line-between {
    position: absolute;
    top: 21%;
    left: 43%;
}

.fees-line-up {
    position: absolute;
    top: -39.53px;
    left: -42.92px;
}

.fees-line-down {
    position: absolute;
    bottom: -76.63px;
    left: -92.62px;
}

.home-two-market {
    margin-top: 266px;
    display: flex;
    padding: 0 45px;
    justify-content: space-between;
    gap: 61px;
}

.home-two-market-script {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.home-two-market-content {
    font-family: Alagard;
    font-size: 33px;
    font-weight: 500;
    line-height: 33.9px;
    text-align: left;
    color: #767676;
}

.home-two-raise {
    margin-top: 115px;
    display: flex;
    flex-direction: column;
    /* padding: 0 90px; */
}

.home-two-raise-subtitle {
    margin-top: 18px;
    font-family: Alagard;
    font-size: 36px;
    font-weight: 500;
    line-height: 36.98px;
    color: #FFFFFF;
}

.home-two-raise-express {
    margin-top: 81px;
    display: flex;
    justify-content: space-between;
    gap: 197px;
}

.home-two-raise-express-item {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-direction: column;
}

.home-two-raise-express-title {
    font-family: Alagard;
    font-size: 48px;
    font-weight: 500;
    line-height: 49.31px;
    text-align: left;
    color: #FFFFFF;
}

.home-two-raise-express-content {
    font-family: Alagard;
    font-size: 92px;
    font-weight: 500;
    line-height: 94.52px;
    color: #FFFFFF;
}

.home-two-raise-content {
    margin-top: 63px;
    display: flex;
    flex-direction: column;
    font-family: Alagard;
    font-size: 31px;
    font-weight: 500;
    line-height: 31.85px;
    text-align: center;
    color: #767676;
}