.toolBox-container {
    border: 1px solid #5E5E5E;
    background: #161813;
    border-radius: 12px;
    width: 31.3%;
    position: relative;
}

.toolBox-header {
    display: flex;
    flex-direction: column;
    font-family: Alagard;
    font-size: 36px;
    font-weight: 500;
    line-height: 36.98px;
    color: #FFFFFF;
    text-shadow: 4px 4px 7px #000000;
}

/* .toolBox-header span {
    text-align: center;
} */

.toolBox-content {
    margin-top: 13px;
    display: flex;
    flex-direction: column;
    font-family: Alagard;
    font-size: 24px;
    font-weight: 500;
    line-height: 24.66px;
    text-align: center;
    color: #767676;
}

.toolBox-content span {
    text-align: center;
}

.toolBox-badge {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Alagard;
    font-size: 64px;
    font-weight: 500;
    line-height: 65.75px;
    text-align: center;
    border: 1px solid #5E5E5E;
    background: #161813;
    color: #FFFFFF;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.notBadge {
    padding: 46px 40px;
}

.badge {
    padding: 75px 33px 36px 33px;
}

@media (max-width: 1210px) {
    .toolBox-container {
        border: 1px solid #5E5E5E;
        background: #161813;
        border-radius: 12px;
        width: 45%;
        position: relative;
    }
}

@media (max-width: 900px) {
    .toolBox-container {
        border: 1px solid #5E5E5E;
        background: #161813;
        border-radius: 12px;
        width: 100%;
        position: relative;
    }
}